/********* VARIABLES *********/
$black: #000000;
$black-100: rgba(0, 0, 0, 0.5);
$white: #ffffff;
$white-100: #f5f5f5;
$theme-black: #0a0a0a;
$theme-black-100: #111010;
$theme-black-300: rgba(0, 0, 0, 0.361);
$theme-black-400:rgba(16, 15, 15, 0.502);
$theme-grey: #979797;
$theme-grey-100: #c4c4c4;
$theme-grey-200: #616161;
$theme-grey-300: #b4b4b4;
$theme-grey-400: #a4a4a4;
$theme-red: #ef4336;
$theme-brdr: #c4c4c4;

$font-prox: "ProximaNova", sans-serif;
$font-popp-reg: "Poppins-Regular", sans-serif;
$font-popp-semi: "Poppins-SemiBold", sans-serif;
$font-popp-light: "Poppins-Light", sans-serif;

$lg-desktop: 1440px;
$md-desktop: 1366px;
$sm-desktop: 1199px;
$tab: 991px;
$sm-tab: 767px;
$mobile: 575px;
